

<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-3">
          <!--Column1-->
          <div class="footer-pad">
            <h6>Cabinet docteur mohamed </h6>
            <h6>   2092 El Manar Tunis, </h6>

          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h6>Contact</h6>
            <h6>  Tél : +216 71 872 500</h6>
            <h6>    Fax : +216 71 871 622 </h6>

          </div>
        </div>

      </div>

    </div>
  </div>
</footer>
